footer {
    background-size: contain;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-color: $black;
    background-position: right;

    .contacts {

        img {
            height: 50px;
        }

        a {
            color: $white;
            text-decoration: none;
        }

        a:hover {
            color: $white;
        }

        li {
            padding-bottom: 10px;
        }

        h4 {
            margin-bottom: 25px;
            text-transform: uppercase;
        }
    }

    .outlaw-badge {
        display: block;
        max-height: 30vh;
    }

    .copyright {
        margin-top: 45px;
    }

    .media-body {
        display: inline-block;
    }
}