// Navs ========================================================================

.nav-link,
.nav-link.active,
.nav-link.active:focus,
.nav-link.active:hover .nav-item.open .nav-link,
.nav-item.open .nav-link:focus {
    margin: 0px 25px;
    border-radius: 5px;
    font-size: 1.25em;
}

.nav-item.open .nav-link:hover {
    color: #fff;
}

.nav-link:hover {
    background-color: $indigo;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
}

.hero-wrap {
    width: 100%;
}

.hero {
    background-image: url('../img/header_background.png');
    position: relative;
    background-clip: content-box;
    height: 55vh;
    padding-top: 20px;
    max-height: 400px;
    min-height: 400px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content {
    color: #fff;
}

.contacts .row {
    margin: 20px 0px;
}

.lead {
    font-size: 1.5em;
    line-height: 1.75;
}

footer {
    background-image: url('../img/black_skull_footer.png');
    background-clip: padding-box;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: black;
}