footer {
    background-image: url('../img/black_skull_footer.png');
    background-size: contain;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-color: $black;
    background-position: right;

    .contacts {

        img {
            height: 50px;
        }

        a {
            color: $white;
            text-decoration: none;
        }

        a:hover {
            color: $french-violet;
        }
    }
}