.hero {
  color: white;
  background-color: black;
  padding: 10vh 5vh;
}

.hero-content {
  padding-top: 100px;
}

.hero-logo {
  width: calc(25vw + 10em);
  margin: 2em .5em;
}

.hero-badge {
  max-width: 12vw;
}

.hero-action {
  display: block;
  background-color: $gray-opaque;
  max-width: 500px;
  height: 100%;
  margin-right: 50px;
  border-radius: 25px;

  .content {
    padding: 50px 25px;
  }
}

@media (min-width: 992px) {
  .hero-action {
    height: 60%;
  }

  // To hide the honeypot in request more information form
  .hp {
    display: none;
  }
}