.hero {
  color: white;
  background-color: black;
  padding: 10vh 5vh;
}

.hero-content {
  padding-top: 100px;
}

.hero-logo {
  max-width: 40vh;
  margin: 2em 3em;
}

.hero-action {
  display: block;
  background-color: $gray-opaque;
  max-width: 500px;
  margin-right: 50px;
  border-radius: 25px;

  .content {
    padding: 50px 25px;
  }
}
