// Navs ========================================================================

.nav-link,
.nav-link.active,
.nav-link.active:focus,
.nav-link.active:hover .nav-item.open .nav-link,
.nav-item.open .nav-link:focus {
    margin: 0px 25px;
    border-radius: 5px;
    font-size: 1.25em;
}

.nav-item.open .nav-link:hover {
    color: #fff;
}

.nav-link:hover {
    background-color: $indigo;
}

.navbar-brand .nav-logo {
    height: 125px;
    margin-right: 20px;
}

.navbar {
    background-color: $eerie-black;
    border-bottom: 1px solid $black-opaque;
}